#About{
    text-align:center

}
my navbar-nav{
    text-decoration: none;
}
#Mars{
    text-align:center

}
#ISS{
    text-align:center

}
#NASA{
    text-align:center

}
#Planets{
    text-align:center

}